@tailwind base;
@tailwind components;
@tailwind utilities;


/*base style*/

@layer base {
    body {
        @apply font-roboto text-[14px] text-[#333] min-h-dvh;
    }

    input {
        @apply outline-0 border-0 appearance-none;
    }

    input::-webkit-search-cancel-button {
        appearance: none;
    }
}

@layer utilities {
    a {
        @apply text-[#333];
    }
}

#root {
    @apply h-full overflow-x-hidden;
}

svg {
    @apply w-[17px] h-[17px] inline-block fill-current align-middle;
}

.transiTion {
    @apply transition duration-300;
}

.mgr {
    @apply mr-4 sm:mr-[60px] lg:mr-[80px]
}

.loader {
    background: conic-gradient(#0000 10%, #6f6a6a);
    --webkit-mask: radial-gradient(farthest-side, #0000 calc(100% - 8px), #000 0);
    animation: rotate 1.5s infinite linear;
}

@keyframes rotate {
    to {
        transform: rotate(1turn);
    }
}

.pageWidth {
    @apply m-[0_auto] px-[15px] max-w-[1300px];
}

.sectionTitle {
    @apply relative inline-block;
}

.sectionTitle::before,
.sectionTitle::after {
    @apply content-[""] block w-12 lg:w-16 h-[2px] bg-[#f9a81a] absolute top-[50%] translate-y-[-50%];
}

.sectionTitle::before {
    /* @apply right-[calc(70%_+_10px)] lg:right-[calc(60%_+_10px)]; */
    @apply right-[calc(100%_+_20px)];
}

.sectionTitle::after {
    /* @apply left-[calc(70%_+_10px)] lg:left-[calc(60%_+_10px)]; */
    @apply left-[calc(100%_+_20px)];
}

.formInput {
    @apply w-full h-12 text-base lg:text-lg font-medium text-black rounded pl-14 border-[1px] border-solid border-[#c4c3ca] transition-all placeholder:text-sm focus:placeholder:opacity-0;
}

.swiperButton {
    @apply bg-white flex justify-center items-center w-10 h-10 md:w-14 md:h-14 top-[50%] translate-y-[-50%] rounded-full absolute z-10 shadow cursor-pointer focus:outline-none invisible opacity-0 transiTion ease-in-out group-hover/swiperBtn:visible group-hover/swiperBtn:opacity-100;
}

.cartItemBtn {
    @apply w-7 h-7 text-center border-[1px] border-solid border-[#ddd];
}

.cartItemBtn svg {
    @apply w-4 h-4;
}

.cartBtn button {
    @apply block w-full h-11 text-white tracking-wide uppercase;
}



.activeList svg {
    @apply rotate-180;
}

.cartAni {
    @apply translate-x-0 transition duration-500 ease-in-out;
}

.logIcon {
    @apply h-12 text-[#6e5e28] absolute top-0 left-5 transition-all;
}

/* footer section style*/

footer a {
    @apply text-white;
}

.footerLinkTitle {
    @apply text-[13px] lg:text-sm font-medium uppercase tracking-[1px] mb-2;
}

.footerLinkDesc {
    @apply text-xs sm:text-sm mb-2;
}

.footerList li {
    @apply text-[13px] mb-4;
}

.socialIcon svg {
    @apply w-5 h-5
}

/* header section custom style*/

.mgmenu {
    @apply bg-white flex justify-between p-[30px_35px_5px] absolute top-[100%] shadow-[0px_0px_6px_#eee] invisible opacity-0 translate-y-[20px] transition ease-in duration-300 group-hover/navLink:translate-y-0 group-hover/navLink:opacity-100 group-hover/navLink:visible;
}

.menuList {
    @apply flex flex-1 gap-10 relative;
}

.menuList .sublinks a {
    @apply text-[#555] text-[12px] inline-flex mb-[10px] cursor-pointer hover:text-black;
}

.cmgmenu {
    @apply w-[950px] bg-white p-[30px_35px_20px] absolute top-0 left-[100%] shadow-[0px_0px_6px_#eee] min-h-[100%] max-h-[550px] invisible opacity-0 translate-y-[20px] transition ease-in duration-300 group-hover/catNavLink:visible group-hover/catNavLink:opacity-100 group-hover/catNavLink:translate-y-0;
}

.cateLink {
    @apply text-[13px] p-[8px_20px_8px_25px] flex items-center;
}


/*

 invisible opacity-0 translate-y-[20px] transition ease-in duration-300
 
*/


/* 

 translate-y-0 opacity-100 visible

*/

.btnIcon {
    @apply text-white bg-black p-3 rounded-md relative inline-block;
}


/* Tooltip text */
.tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: #555;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;

    /* Position the tooltip text */
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;

    /* Fade in tooltip */
    opacity: 0;
    transition: opacity 0.3s;
}

/* Tooltip arrow */
.tooltiptext::after {
    content: " ";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

/* Show the tooltip text when you mouse over the tooltip container */
.btnIcon:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}