.figure {
    /* width: 350px; */
    position: relative;
}

.figure img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.figure .sirv.image-hover {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    object-fit: contain;
    opacity: 0;
    transition: opacity 300ms linear;
}

.figure:hover .sirv.image-hover {
    opacity: 1;
}